.header {
    color: black;
    padding: 1rem;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.logo {
    margin: 0;
    height: 250px;
    width: 250px;
}

.navigation {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    height: 100%;
    width: 30%;
    border: #E94560 solid 1px;
    border-radius: 30px;
}

.auth-buttons {
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 100%;
    width: 10%;
    border-radius: 30px;
    gap: 10px;
}

.nav-item {
    text-align: center;
    padding: 0.2rem 1rem;
    cursor: pointer;
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #E94560;
    transition: width 0.4s ease-in-out;
}

.nav-item:hover {
    transition: width 1s ease-in-out;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item.active {}

.nav-item.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #E94560;
    transition: width 0.3s ease-in-out;
}

/* Hover effect */
.nav-item.active:hover::after {
    width: 100%;
}

/* Active state uses the same line */
.nav-item.active.active::after {
    width: 100%;
}

.auth-button {
    border: 2px solid #E94560;
    color: #E94560;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    transition: background .5s ease, color .5s ease;
    cursor: pointer;
}

/* Hover effect (optional, keeps outline but fills on hover) */
.auth-button:hover {
    background: #E94560;
    color: white;

}

/* Active/selected state */
.auth-button.active {
    background: #E94560;
    color: white;
}
